h1 {
 text-align:center;
}

h1{
	color: royalblue;
	text-align: center;
}

body {
	background-color: grey;
}

p {
	font-family:cursive;
	font-size: 25px;
}

h2 {
	text-align: center;
	color: blue;
}

li a {
  display: block;
  background-color: rgb(255, 0, 0);
  overflow: hidden;
 }
li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover {
  background-color: #111;
 ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 20px;
} 



