h1 {
 text-align:center;
}

h1{
	color: royalblue;
	text-align: center;
}

body {
 background-image: url("idk.jpg");
}

p {
	font-family:cursive;
	font-size: 25px;
}

h2 {
	text-align: center;
	color: blue;
}


