h1{
	color: royalblue;
	text-align: center;
	border: 1px solid powderblue;
  	padding: 6px;
  	margin: 50px
}

body {
  background-image: url("my life.png");
background-color: grey; 
}

p {
	font-family:cursive;
	font-size: 25px;
  color: white;
}

h2 {
	text-align: center;
	color: blue;
	border: 1px solid powderblue;
  	padding: 6px;
  	margin: 50px
}

title{
	border-style: initial;
	background-image: url("i love them.jpg");
}


